body {
    background-color: rgb(105, 124, 207);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

.center {
    margin: 5%;
    text-align: center;
    border: 3px solid black;
    padding: 2%;
}

ul{
    list-style: none;
}

img{
    display: block;
    margin: auto;
    border: 3px solid tomato;
    border-radius: 5%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#img1{
    border-radius: 50%;
}
.imgPack{
    text-align: center;
    margin-top: 30px;
}